const char *GCAL_CLIENT_ID = "1095317107004-7otv7upr1ilnki005lc056h4oj5b9msv.apps.googleusercontent.com";
const char *GCAL_CLIENT_SECRET = "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";

//To get these, run gcal.RequestInstalledAppToken();
const char *GCAL_AUTH_TOKEN = "gcal-auth-token";
const char *GCAL_REFRESH_TOKEN = "gcal-refresh-token"";
